body {
  font-family: 'Montserrat';
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 1715px;
  background: #FFFFFF;
  position: relative;
  z-index: -2;
}

.product-card__title__top {
  width: 100%;
  margin-top: 220px;
}

.product-card__title__top h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076;
}

.picture.background__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 697px;
  overflow: hidden;
}

.picture.background {
  width: 1110px;
  height: 697px;
  margin: auto;
}

.picture.background img {
  width: 790px;
  height: 697px;
}

.product-card-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1110px;
  height: 1191px;
}

.product-card {
  overflow: hidden;
  display: flex;
  margin-top: 0;
  justify-content: space-between;
}

.product-card-bottom {
  overflow: hidden;
  display: flex;
  margin-top: 0;
  justify-content: center;
  gap: 44px;
}

.product-card__container {
  padding: 24px 24px 24px;
  width: 340px;
  height: 573px;
  box-sizing: border-box;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0 rgba(81, 80, 118, 0.1);
}

.product-card__image {
  display: flex;
  padding: 0;
}

.product-card__image img {
  width: 100%;
  display: block;
}

.product-card__for-skin {
  padding: 8px 0 0;
}

.product-card__for-skin p {
  width: 171px;
  height: 24px;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
}
.product-card__title {
  margin-top: 8px;
  margin-bottom: 8px;
}
.product-card__title h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
}

.product-card__description {
  margin-top: 0;
  margin-bottom: 16px;
}

.product-card__description p {
  width: 287px;
  height: 36px;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.product-card__composition {
  width: 100%;
  height: 87px;
  margin-bottom: 24px;
}

.product-card__composition p {
  width: 49px;
  height: 18px;
  margin: 0 0 8px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.product-card__composition ul {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  list-style-position: inside;
}

.product-card__price {
  display: flex;
}

.product-card__price span {
  height: 24px; 
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

.product-card__price span:last-child {
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
  margin-left: auto;
  white-space: nowrap;
}