* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  margin: 0;
}

.product-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 1715px;
  margin: 0;
  padding: 0 85px; 
}

.product-card-wrapper__title {
  color: #515076;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 220px 0 102px;
  background-image: url('../images/background.png');
  background-size: 790px 697px;
  background-repeat: no-repeat;
  }

.product-card-wrapper__title h1 {
  font-weight: 400;
  font-size: 70px;
  margin: 0;
}

.product-card-wrapper__line {
  display: flex;
  justify-content: space-between;
}

.product-card-wrapper__line:last-child {
  justify-content: center;
  margin-top: 45px;
  gap: 45px
}

.product-card {
  width: 340px;
  min-height: 573px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0 rgba(81, 80, 118, 0.1);
}

.product-card__image {
  width: 290px;
  height: 245px;
  padding: 0;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-card__info {
  padding: 0;
}

.product-card__for-skin {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin: 30px 0 8px;
}

.product-card__title {
  font-size: 18px;
  color: #515076;
}

.product-card__title h3 {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.product-card__title p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 12px 0 16px;
}

.product-card__composition {
  color: #515076;
  font-weight: 400;
  font-size: 13px;
  }

.product-card__composition p {
  margin: 0;
}

.product-card__composition ul {
  list-style-position: inside;
  line-height: 18px;
  padding-left: 0px;
  margin: 8px 0 25px;
  line-height: 2;
}

.product-card__price {
  line-height: 20px;
  color: #515076;
  display: flex;
  justify-content: space-between;
}

.product-card__price span {
  font-weight: 700;
  font-size: 24px;
}

.product-card__price span:last-child {
  font-weight: 400;
  font-size: 20px;
}